@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center" style="background-color: #0090D9; padding: 40px;">
    <img src="~/lib/images/11.jpg" alt="FIFA Logo" style="max-width: 200px; margin-bottom: 30px;">
    <h1 class="display-4" style="font-family: 'Arial', sans-serif; color: #fff; margin-bottom: 20px;">Welcome to Football News Website</h1>
    <p style="font-family: 'Arial', sans-serif; font-size: 18px; color: #fff;">
        Learn about the latest football news <a href="/Design/HomePage" style="color: #fff; text-decoration: underline;">Click here</a>.
    </p>
</div>

